.square {
  display: flex;
  width: 19px;
  height: 19px;
  border: 2px, solid, black;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 368px;
  align-items: center;
  padding: 200px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.onHover:hover {
  background-color: black;
  opacity: 0.4;
}

.drawnBox {
  background-color: black;
}
