.square {
  display: flex;
  background-color: white;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  align-items: center;
  margin-top: 80px;
  background-color: black;
  gap: 1px;
  border: 2px solid black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.onHover:hover {
  background-color: grey;
  opacity: 0.5;
}

.drawnSquare {
  background-color: black;
}
